In [13]:
import pandas as pd

In [14]:
#creating a series
days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

my_series=pd.Series(days,index=range(1,8))
print(my_series)
type(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

pandas.core.series.Series

In [15]:
#creating using dictionary
dict={'1':"Monday",'2':"Tuesday",'3':"Wednesday",'4':"Thursday",'5':"Friday",'6':"Saturday",'7':"Sunday"}

ser=pd.Series(dict)
ser

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

Dataframe
Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet.

Creating a dataframe from series
Note : Just a single column

In [16]:
#converting series into dataframe
my_df=pd.DataFrame(ser,columns=['Days'])
my_df

        Days
1     Monday
2    Tuesday
3  Wednesday
4   Thursday
5     Friday
6   Saturday
7     Sunday

In [39]:
#creating a dataframe using a dictionary
max_temp=[24,24,20,23,23,24,24]
min_temp=[12,11,10,10,11,12,10]
conditions=["Sunny","Windy","Sunny","Rainy","Gloomy","Windy","Rainy"]

weather={"Days":days,"Max Temp":max_temp,"Min Temp":min_temp,"Conditions":conditions}
df=pd.DataFrame(weather,index=range(1,8))

In [21]:
df

        Days  Max Temp  Min Temp Conditions
1     Monday        24        12      Sunny
2    Tuesday        24        11      Windy
3  Wednesday        20        10      Sunny
4   Thursday        23        10      Rainy
5     Friday        23        11     Gloomy
6   Saturday        24        12      Windy
7     Sunday        24        10      Rainy

# Exporting a data frame to csv file

In [22]:
df.to_csv("weather_aaj.csv")

Importing from a csv file

In [23]:
new_df=pd.read_csv("weather_aaj.csv")

In [24]:
new_df

   Unnamed: 0       Days  Max Temp  Min Temp Conditions
0           1     Monday        24        12      Sunny
1           2    Tuesday        24        11      Windy
2           3  Wednesday        20        10      Sunny
3           4   Thursday        23        10      Rainy
4           5     Friday        23        11     Gloomy
5           6   Saturday        24        12      Windy
6           7     Sunday        24        10      Rainy

In [25]:
new_df.shape

(7, 5)

In [26]:
a,b=new_df.shape
print('No of rows=',a,"no of columns=",b)

No of rows= 7 no of columns= 5

In [27]:
new_df.head()

   Unnamed: 0       Days  Max Temp  Min Temp Conditions
0           1     Monday        24        12      Sunny
1           2    Tuesday        24        11      Windy
2           3  Wednesday        20        10      Sunny
3           4   Thursday        23        10      Rainy
4           5     Friday        23        11     Gloomy

In [28]:
new_df.tail()

   Unnamed: 0       Days  Max Temp  Min Temp Conditions
2           3  Wednesday        20        10      Sunny
3           4   Thursday        23        10      Rainy
4           5     Friday        23        11     Gloomy
5           6   Saturday        24        12      Windy
6           7     Sunday        24        10      Rainy

In [35]:
new_df[0:4]

   Unnamed: 0       Days  Max Temp  Min Temp Conditions
0           1     Monday        24        12      Sunny
1           2    Tuesday        24        11      Windy
2           3  Wednesday        20        10      Sunny
3           4   Thursday        23        10      Rainy

In [30]:
print(new_df.columns)

Index(['Unnamed: 0', 'Days', 'Max Temp', 'Min Temp', 'Conditions'], dtype='object')

 Operations on Dataframe

In [33]:
new_df["Min Temp"].max()

12

In [34]:
new_df.describe()

       Unnamed: 0   Max Temp   Min Temp
count    7.000000   7.000000   7.000000
mean     4.000000  23.142857  10.857143
std      2.160247   1.463850   0.899735
min      1.000000  20.000000  10.000000
25%      2.500000  23.000000  10.000000
50%      4.000000  24.000000  11.000000
75%      5.500000  24.000000  11.500000
max      7.000000  24.000000  12.000000

In [36]:
new_df.max()

Unnamed: 0            7
Days          Wednesday
Max Temp             24
Min Temp             12
Conditions        Windy
dtype: object

In [48]:
new_df["Max Temp"]>2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
Name: Max Temp, dtype: bool

In [50]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7 non-null      int64
 1   Days        7 non-null      object
 2   Max Temp    7 non-null      int64
 3   Min Temp    7 non-null      int64
 4   Conditions  7 non-null      object
dtypes: int64(3), object(2)
memory usage: 408.0+ bytes

In [51]:
new_df.corr()

/tmp/ipykernel_22067/4065070317.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  new_df.corr()

            Unnamed: 0  Max Temp  Min Temp
Unnamed: 0    1.000000  0.158114 -0.257248
Max Temp      0.158114  1.000000  0.524249
Min Temp     -0.257248  0.524249  1.000000